{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3 class="title" style="color:black">Sign Up</h3>
    <div class="box">
        <form id="signup" method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="New Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Rank First Last" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" id="age" name="age" placeholder="Age" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="gender">Gender:</label>
                    <select name="gender" id="gender">
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}